Repository Thoralf-M/iota, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iotaledger/sc-platform, @iotaledger/core-protocol, @iotaledger/tooling, @iotaledger/consensus, @iotaledger/dev-tools, @iotaledger/vm-language, @iotaledger/infrastructure, @iotaledger/node, @iotaledger/devops-admin, @iotaledger/devx, @msarcev, @alexsporn, @thibault-martinez, @DaughterOfMars, @Dr-Electron, @luca-moser, @lzpap, @miker83z, @muXxer, @nmrshll

scripts: rust tests fixes and readme (#6008)
  scripts/ci_tests/README.md
  scripts/ci_tests/rust_tests.sh
Owners: @nmrshll

refactor(iota-data-ingestion): store checkpoints current epoch (#5978)
  Cargo.lock
  crates/iota-core/src/storage.rs
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-data-ingestion/src/common.rs
  crates/iota-data-ingestion/src/lib.rs
  crates/iota-data-ingestion/src/main.rs
  crates/iota-data-ingestion/src/workers/blob.rs
  crates/iota-rest-api/openapi/openapi.json
  crates/iota-rest-api/src/client/mod.rs
  crates/iota-rest-api/src/client/sdk.rs
  crates/iota-rest-api/src/epochs.rs
  crates/iota-rest-api/src/lib.rs
  crates/iota-transactional-test-runner/src/simulator_persisted_store.rs
  crates/iota-types/src/storage/read_store.rs
  crates/simulacrum/src/lib.rs
  dev-tools/iota-data-ingestion/README.md
  dev-tools/iota-data-ingestion/config/config.yaml
  dev-tools/iota-data-ingestion/config/multiple_workers.yaml
Owners: @iotaledger/node, @iotaledger/consensus, @iotaledger/infrastructure, @iotaledger/vm-language, @iotaledger/core-protocol, @iotaledger/sc-platform, @iotaledger/devops-admin

feat(iota-indexer): Implement past objects fetching (#5865)
  crates/iota-indexer/src/apis/read_api.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/objects.rs
  crates/iota-indexer/tests/rpc-tests/read_api.rs
Owners: @iotaledger/infrastructure

feat(indexer): Add optimistic tables for events (#5980)
  crates/iota-indexer/migrations/pg/2025-03-13-113634_optimistic_events/down.sql
  crates/iota-indexer/migrations/pg/2025-03-13-113634_optimistic_events/up.sql
  crates/iota-indexer/src/models/event_indices.rs
  crates/iota-indexer/src/models/events.rs
  crates/iota-indexer/src/schema.rs
Owners: @iotaledger/infrastructure

chore: Updates NextJS to fix CVE-2025-29927 (#6057)
  apps/wallet-dashboard/package.json
  pnpm-lock.yaml
Owners: @iotaledger/tooling

fix(explorer): update EpochDetail to use original validator order and add default sorting to TableCard (#5979)
  apps/explorer/src/pages/epochs/EpochDetail.tsx
Owners: @iotaledger/tooling

refactor(iota-analytics-indexer): Use dynamic field visitors in analytics indexer (#5690)
  crates/iota-analytics-indexer/src/handlers/df_handler.rs
Owners: @iotaledger/infrastructure

refactor(indexer): use optimistic_from_into_checkpoint macro (#6002)
  crates/iota-indexer/src/models/event_indices.rs
  crates/iota-indexer/src/models/macros.rs
  crates/iota-indexer/src/models/mod.rs
  crates/iota-indexer/src/models/tx_indices.rs
Owners: @iotaledger/infrastructure

feat(wallet): Allow opening the receive button on locked accounts (#6037)
  apps/wallet/src/ui/app/pages/home/tokens/TokensDetails.tsx
Owners: @iotaledger/tooling

feat(consensus): Consolidate `HashSetAllow` and `AllowedPublicKeys` types (#6039)
  Cargo.lock
  consensus/core/src/network/tonic_tls.rs
  crates/iota-tls/Cargo.toml
  crates/iota-tls/src/lib.rs
  crates/iota-tls/src/verifier.rs
Owners: @iotaledger/consensus, @iotaledger/core-protocol

feat(wallet): add char limit for alias validation (#5974)
  apps/wallet/src/ui/app/components/accounts/EditableAccountName.tsx
  apps/wallet/src/ui/app/components/accounts/NicknameDialog.tsx
  apps/wallet/src/ui/app/components/accounts/index.ts
Owners: @iotaledger/tooling

feat(wallet): improve heap memory storage (#5988)
  apps/wallet/src/ui/app/components/accounts/PasswordInputDialog.tsx
  apps/wallet/src/ui/app/components/accounts/ProtectAccountForm.tsx
  apps/wallet/src/ui/app/pages/accounts/ExportAccountPage.tsx
Owners: @iotaledger/tooling

feat(wallet): add password max failed attempts lockout mechanism (#5983)
  apps/wallet/src/background/accounts/index.ts
  apps/wallet/src/ui/app/components/accounts/PasswordInputDialog.tsx
Owners: @iotaledger/tooling

feat(ts-sdk): Sync types after update RPC to base64 (#5890)
  sdk/graphql-transport/src/mappers/transaction-block.ts
  sdk/graphql-transport/src/methods.ts
  sdk/typescript/src/client/types/generated.ts
  sdk/typescript/src/client/types/params.ts
Owners: @iotaledger/tooling

feat(indexer): Fill tx insertion order for new and existing txs (#6001)
  crates/iota-cluster-test/src/cluster.rs
  crates/iota-graphql-rpc/src/test_infra/cluster.rs
  crates/iota-indexer/migrations/pg/2025-03-18-115742_backfill_tx_insertion_order/down.sql
  crates/iota-indexer/migrations/pg/2025-03-18-115742_backfill_tx_insertion_order/up.sql
  crates/iota-indexer/src/handlers/committer.rs
  crates/iota-indexer/src/metrics.rs
  crates/iota-indexer/src/models/transactions.rs
  crates/iota-indexer/src/store/indexer_store.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
  crates/iota-indexer/src/test_utils.rs
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/ingestion_tests.rs
  crates/iota/src/iota_commands.rs
Owners: @iotaledger/infrastructure, @iotaledger/dev-tools

.github/CODEOWNERS:

# Default fallback, if no other path below this matches
* @iotaledger/sc-platform @iotaledger/core-protocol

# Everything within the SDK folder
/sdk/ @iotaledger/tooling

/consensus/ @iotaledger/consensus

# Crates
/crates/bin-version/ @iotaledger/dev-tools
/crates/iota/ @iotaledger/dev-tools
/crates/iota-adapter-transactional-tests/ @iotaledger/vm-language
/crates/iota-analytics-indexer/ @iotaledger/infrastructure
/crates/iota-analytics-indexer-derive/ @iotaledger/infrastructure
/crates/iota-archival/ @iotaledger/node
/crates/iota-authority-aggregation/ @iotaledger/node @iotaledger/consensus
/crates/iota-aws-orchestrator/ @iotaledger/consensus
/crates/iota-benchmark/ @iotaledger/node
/crates/iota-cluster-test/ @iotaledger/infrastructure
/crates/iota-common/ @iotaledger/core-protocol
/crates/iota-config/ @iotaledger/node
/crates/iota-core/ @iotaledger/node @iotaledger/consensus
/crates/iota-cost/ @iotaledger/vm-language
/crates/iota-data-ingestion*/ @iotaledger/infrastructure
/crates/iota-e2e-tests/ @iotaledger/node @iotaledger/vm-language
/crates/iota-enum-compat-util/ @iotaledger/vm-language
/crates/iota-faucet/ @iotaledger/infrastructure
/crates/iota-framework/ @iotaledger/vm-language
/crates/iota-framework-snapshot/ @iotaledger/vm-language
/crates/iota-framework-tests/ @iotaledger/vm-language
/crates/iota-genesis-builder/ @iotaledger/vm-language
/crates/iota-genesis-common/ @iotaledger/vm-language
/crates/iota-graphql*/ @iotaledger/infrastructure
/crates/iota-http/ @iotaledger/node
/crates/iota-indexer*/ @iotaledger/infrastructure
/crates/iota-json/ @iotaledger/infrastructure
/crates/iota-json-rpc*/ @iotaledger/infrastructure
/crates/iota-keys/ @iotaledger/dev-tools
/crates/iota-light-client/ @iotaledger/dev-tools
/crates/iota-macros/ @iotaledger/dev-tools
/crates/iota-metric-checker/ @iotaledger/node
/crates/iota-metrics/ @iotaledger/core-protocol
/crates/iota-move/ @iotaledger/vm-language
/crates/iota-move-build/ @iotaledger/vm-language
/crates/iota-move-lsp/ @iotaledger/vm-language
/crates/iota-network/ @iotaledger/node
/crates/iota-network-stack/ @iotaledger/node
/crates/iota-node/ @iotaledger/node
/crates/iota-open-rpc/ @iotaledger/dev-tools
/crates/iota-open-rpc-macros/ @iotaledger/dev-tools
/crates/iota-package-dump/ @iotaledger/infrastructure
/crates/iota-package-management/ @iotaledger/vm-language
/crates/iota-package-resolver/ @iotaledger/vm-language
/crates/iota-proc-macros/ @iotaledger/dev-tools
/crates/iota-protocol-config/ @iotaledger/node @iotaledger/sc-platform
/crates/iota-protocol-config-macros/ @iotaledger/node @iotaledger/sc-platform
/crates/iota-proxy/ @iotaledger/node
/crates/iota-replay/ @iotaledger/node
/crates/iota-rest-api/ @iotaledger/node @iotaledger/infrastructure
/crates/iota-rest-kv/ @iotaledger/infrastructure
/crates/iota-rpc-loadgen/ @iotaledger/infrastructure
/crates/iota-sdk/ @iotaledger/dev-tools
/crates/iota-simulator/ @iotaledger/core-protocol
/crates/iota-single-node-benchmark/ @iotaledger/node
/crates/iota-snapshot/ @iotaledger/node
/crates/iota-source-validation/ @iotaledger/vm-language
/crates/iota-storage/ @iotaledger/node
/crates/iota-swarm/ @iotaledger/node
/crates/iota-swarm-config/ @iotaledger/node
/crates/iota-test-transaction-builder/ @iotaledger/dev-tools
/crates/iota-tls/ @iotaledger/core-protocol
/crates/iota-tool/ @iotaledger/node
/crates/iota-transaction-builder/ @iotaledger/dev-tools
/crates/iota-transaction-checks/ @iotaledger/core-protocol
/crates/iota-transactional-test-runner/ @iotaledger/vm-language
/crates/iota-types/ @iotaledger/core-protocol @iotaledger/sc-platform
/crates/iota-upgrade-compatibility-transactional-tests/ @iotaledger/vm-language
/crates/iota-verifier-transactional-tests/ @iotaledger/vm-language
/crates/prometheus-closure-metric/ @iotaledger/node
/crates/shared-crypto/ @iotaledger/core-protocol
/crates/simulacrum/ @iotaledger/vm-language
/crates/telemetry-subscribers/ @iotaledger/core-protocol
/crates/test-cluster/ @iotaledger/infrastructure
/crates/typed-store/ @iotaledger/core-protocol
/crates/typed-store-derive/ @iotaledger/core-protocol
/crates/typed-store-error/ @iotaledger/core-protocol
/crates/typed-store-workspace-hack/ @iotaledger/core-protocol

# Docker
/docker/ @iotaledger/infrastructure @iotaledger/node @iotaledger/devops-admin
/dev-tools/ @iotaledger/infrastructure @iotaledger/node @iotaledger/devops-admin
/setups/ @iotaledger/infrastructure @iotaledger/node @iotaledger/devops-admin

# Frontend apps to be looked after by Boxfish Studio or the tooling team
/apps/ @iotaledger/tooling
/dapps/ @iotaledger/tooling
/linting/ @iotaledger/tooling
/.husky/ @iotaledger/tooling
/.changeset/ @iotaledger/tooling
.eslintrc.js @iotaledger/tooling
.lintstagedrc.json @iotaledger/tooling
.npmrc @iotaledger/tooling
.prettierignore @iotaledger/tooling
graphql.config.ts @iotaledger/tooling
package.json @iotaledger/tooling
pnpm-workspace.yaml @iotaledger/tooling
prettier.config.js @iotaledger/tooling
turbo.json @iotaledger/tooling
vercel.json @iotaledger/tooling

# Needs to be after package.json ownership definition to override it
/iota-execution/ @iotaledger/vm-language
/external-crates/ @iotaledger/vm-language

# Docs and examples are for DevEx to approve upon
/docs/ @iotaledger/devx
/examples/ @iotaledger/devx

# Override ownership of Boxfish Studio and the tooling team for the following files
/docs/**/package.json @iotaledger/devx
/docs/**/vercel.json @iotaledger/devx

# CI Taskforce
/.github/actions/ @msarcev @alexsporn @thibault-martinez @DaughterOfMars @Dr-Electron
/.github/workflows/ @msarcev @alexsporn @thibault-martinez @DaughterOfMars @Dr-Electron

# Protect this CODEOWNERS file, with some fallback in case of unavailability
/.github/CODEOWNERS @luca-moser @lzpap @miker83z @alexsporn

# Scripts
/scripts/cargo_sort/ @muXxer
/scripts/ci_tests/ @nmrshll
/scripts/codesearch/ @muXxer
/scripts/generate_files/ @muXxer
/scripts/tooling/ @iotaledger/tooling
/scripts/utils/ @muXxer

# Other
/kiosk/ @iotaledger/vm-language
/nre/ @iotaledger/node

# Disable code ownership for these auto-generated files
/Cargo.lock
/pnpm-lock.yaml

# TODO
# /crates/iota-bridge/
# /crates/iota-bridge-cli/
# /crates/iota-bridge-indexer/
# /crates/iota-rosetta/
# /crates/iota-source-validation-service/
# /crates/iota-surfer/
# /crates/iota-util-mem/
# /crates/iota-util-mem-derive/
# /crates/transaction-fuzzer/
# /bridge/
