Repository Thoralf-M/iota, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, explorer, wallet, wallet-dashboard, ts-sdk, apps-ui-kit, apps-backend, tooling

review comments
  docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/sidebars/identity.js
Labels: documentation

fix: replaced all RPC urls with ours and fixed some references in the docs to wrong URLs. (#4722)
  crates/iota-analytics-indexer/src/lib.rs
  crates/iota-cluster-test/src/cluster.rs
  crates/iota-cluster-test/src/config.rs
  crates/iota-config/src/lib.rs
  crates/iota-config/src/node.rs
  crates/iota-e2e-tests/tests/passkey_e2e_tests.rs
  crates/iota-indexer/README.md
  crates/iota-indexer/src/lib.rs
  crates/iota-json-rpc/src/lib.rs
  crates/iota-light-client/README.md
  crates/iota-metric-checker/README.md
  crates/iota-node/src/main.rs
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-replay/src/config.rs
  crates/iota-rosetta/README.md
  crates/iota-source-validation-service/src/lib.rs
  crates/iota-storage/src/bin/http_kv_tool.rs
  crates/iota-types/src/unit_tests/passkey_authenticator_test.rs
  crates/iota/src/fire_drill.rs
  docker/iota-node-deterministic/README.md
  docker/iota-rosetta-devnet/remote/docker-compose.yaml
  docs/content/references/iota-graphql.mdx
  examples/custom-indexer/rust/remote_reader.rs
  nre/README.md
  nre/ansible/README.md
  nre/ansible/roles/iota-node/files/iota-node.service
  nre/docker/README.md
  nre/helm/graphql/values.yaml
  nre/helm/indexer/values.reader.yaml
  nre/helm/indexer/values.writer.yaml
  nre/helm/indexer/values.yaml
  nre/systemd/README.md
  nre/systemd/iota-node.service
  nre/validator_tasks.md
  sdk/typescript/README.md
Labels: documentation, ts-sdk

chore: upgrade `proptest-derive` (#4745)
  Cargo.lock
  Cargo.toml
  external-crates/move/Cargo.toml
Labels: none

feat(iota)!: unordered optional `IotaClientCommands::NewAddress` arguments (#4647)
  crates/iota-sdk/README.md
  crates/iota/src/client_commands.rs
  docs/content/developer/advanced/create-review-rating-dao-with-multisig.mdx
  docs/content/developer/cryptography/transaction-auth/keys-addresses.mdx
  docs/content/developer/cryptography/transaction-auth/multisig.mdx
  docs/content/developer/dev-cheat-sheet.mdx
  docs/content/developer/getting-started/get-address.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/client.mdx
  sdk/create-dapp/templates/react-e2e-counter/README.md
  sdk/typescript/test/unit/cryptography/ed25519-publickey.test.ts
  sdk/typescript/test/unit/cryptography/secp256k1-publickey.test.ts
  sdk/typescript/test/unit/cryptography/secp256r1-publickey.test.ts
Labels: documentation, ts-sdk

feat(iota-sdk): Add `build_mainnet` fn for convenience (#4738)
  crates/iota-sdk/README.md
  crates/iota-sdk/examples/iota_client.rs
  crates/iota-sdk/src/lib.rs
Labels: none

feat(wallet-dashboard): Improve assets filter (#4512)
  apps/core/package.json
  apps/core/src/contexts/HiddenAssetsProvider.tsx
  apps/core/src/contexts/index.ts
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/ui/index.ts
  apps/core/src/hooks/ui/usePageAssets.ts
  apps/core/src/hooks/useGetNFTs.ts
  apps/core/src/hooks/useOnScreen.ts
  apps/ui-kit/src/lib/components/molecules/chip/Chip.tsx
  apps/wallet-dashboard/app/(protected)/assets/page.tsx
  apps/wallet-dashboard/components/AssetsList.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/components/loading/Loading.tsx
  apps/wallet-dashboard/components/loading/index.ts
  apps/wallet-dashboard/components/tiles/AssetTileLink.tsx
  apps/wallet/src/ui/app/components/MovedAssetNotification.tsx
  apps/wallet/src/ui/app/components/index.ts
  apps/wallet/src/ui/app/pages/home/assets/HiddenAssetsProvider.tsx
  apps/wallet/src/ui/app/pages/home/assets/index.tsx
  apps/wallet/src/ui/app/pages/home/nfts/HiddenAsset.tsx
  apps/wallet/src/ui/app/pages/home/nfts/VisualAssets.tsx
  apps/wallet/src/ui/app/pages/home/nfts/index.tsx
  apps/wallet/src/ui/app/redux/slices/iota-objects/coin.ts
  pnpm-lock.yaml
Labels: wallet, wallet-dashboard, apps-ui-kit

feat(wallet, dashboard): share useCreateSendAssetTransaction between wallet and dashboard (#4630)
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useTransferAsset.ts
  apps/core/src/hooks/useTransferKioskItem.tsx
  apps/core/src/types/index.ts
  apps/core/src/types/transactionExecute.ts
  apps/wallet-dashboard/components/dialogs/assets/AssetDialog.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useCreateSendAssetTransaction.ts
  apps/wallet/src/ui/app/pages/home/nft-transfer/TransferNFTForm.tsx
Labels: wallet, wallet-dashboard

feat(iota): Add shell completions (#4608)
  Cargo.lock
  crates/iota/Cargo.toml
  crates/iota/src/completions.rs
  crates/iota/src/iota_commands.rs
  crates/iota/src/lib.rs
Labels: none

chore: fix more 1.83 lints (#4750)
  crates/iota-core/src/authority_aggregator.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/safe_client.rs
  crates/iota-graphql-rpc/src/types/cursor.rs
  crates/iota-types/src/effects/test_effects_builder.rs
Labels: none

fix(devx): Replace cargo run with cargo build in iota full node guides (#4706)
  docs/content/operator/iota-full-node/source.mdx
Labels: documentation

feat(examples): add move errors example (#4725)
  examples/move/errors/Move.toml
  examples/move/errors/sources/errors.move
Labels: none

chore(iota): Pass the RPC error if estimating gas budget fails (#4737)
  crates/iota/src/client_commands.rs
Labels: none

fix(wallet, wallet-dashboard): update the improvement of the date format (#4733)
  apps/core/src/components/transaction/TransactionReceipt.tsx
  apps/core/src/hooks/useTimeAgo.ts
  apps/core/src/utils/formatDate.ts
  apps/core/src/utils/index.ts
  apps/wallet-dashboard/components/dialogs/vesting/VestingScheduleBox.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
Labels: wallet, wallet-dashboard

fix(wallet-dashboard): expired assets owned by the return address should not be considered "with expiration" (#4642)
  apps/wallet-dashboard/components/migration/migration-object-details-card/MigrationObjectDetailsCard.tsx
  apps/wallet-dashboard/hooks/useGroupedStardustObjects.ts
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Labels: wallet-dashboard

chore(iota): Add debug prints for execution time of a tx / dry run (#4760)
  crates/iota/src/client_commands.rs
Labels: none

fix(explorer): adjust pagination end calculation to respect available items (#4762)
  apps/explorer/src/components/owned-objects/OwnedObjects.tsx
Labels: explorer

feat(wallet-dashboard): do not allow timelocked staking if there are not enough funds (#4645)
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/Banner.tsx
  apps/wallet-dashboard/components/SupplyIncreaseVestingOverview.tsx
  apps/wallet-dashboard/hooks/useGetSupplyIncreaseVestingObjects.ts
Labels: wallet-dashboard

feat: add resolvedObjetcs (#4744)
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
Labels: wallet-dashboard

fix(node): Merge bug fix from upstream changes: `event sending module relocation (#19672)` (#4712)
  crates/iota-graphql-e2e-tests/tests/events/sending_module.exp
  crates/iota-graphql-e2e-tests/tests/events/sending_module.move
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/execution.rs
Labels: none

chore(iota-indexer): fix typos in IndexerMetrics (#4763)
  crates/iota-indexer/src/metrics.rs
Labels: none

fix(iota-framework): the `test_expiration_time_is_passed` timelock test fix (#4769)
  crates/iota-framework/packages/iota-framework/tests/timelock/timelock_tests.move
Labels: none

fix(iota): properly set `iota keytool` command --alias option (#4767)
  crates/iota/src/keytool.rs
Labels: none

feat(iota): ignore chain id when using `--dump-bytecode-as-base64` (#4761)
  crates/iota-move/src/build.rs
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: none

feat(iota-data-ingestion-core): add README.md (#4570)
  crates/iota-data-ingestion-core/README.md
Labels: none

feat: updated protocol version 3 snapshots
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_3.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_3.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_3.snap
Labels: none

feat: update e2e expectations
  crates/iota-graphql-e2e-tests/tests/events/sending_module.exp
Labels: none

chore(rust): bump to 1.83 (fixes `empty_line_after_outer_attr` and `empty_line_after_doc_comments`) (#4639)
  consensus/config/src/committee.rs
  consensus/core/src/network/metrics_layer.rs
  consensus/core/src/test_dag_parser.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-faucet/src/metrics.rs
  crates/iota-keys/src/random_names.rs
  crates/iota-metrics/src/metered_channel.rs
  crates/iota-package-resolver/src/lib.rs
  crates/iota-protocol-config/src/lib.rs
  crates/iota-rosetta/src/block.rs
  crates/iota-rosetta/src/construction.rs
  crates/iota-rosetta/src/network.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/gas_model/tables.rs
  crates/iota/src/client_commands.rs
  crates/iota/src/unit_tests/profiler_tests.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/execution.rs
  iota-execution/latest/iota-adapter/src/programmable_transactions/linkage_view.rs
  iota-execution/latest/iota-move-natives/src/crypto/group_ops.rs
  iota-execution/latest/iota-move-natives/src/transfer.rs
  rust-toolchain.toml
  scripts/generate_files/Dockerfile
Labels: none

feat: added the type to the sending_module e2e test to make it clear why there are 2 events from the nft module
  crates/iota-graphql-e2e-tests/tests/events/sending_module.exp
  crates/iota-graphql-e2e-tests/tests/events/sending_module.move
Labels: none

fix: expand version 3 description
  crates/iota-protocol-config/src/lib.rs
Labels: none

refactor: use `CancellationToken` for `IndexerExecutor` (#4638)
  Cargo.lock
  crates/iota-analytics-indexer/src/main.rs
  crates/iota-data-ingestion-core/Cargo.toml
  crates/iota-data-ingestion-core/src/executor.rs
  crates/iota-data-ingestion-core/src/tests.rs
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-data-ingestion/src/main.rs
  crates/iota-indexer-builder/Cargo.toml
  crates/iota-indexer-builder/src/iota_datasource.rs
  crates/iota-indexer/src/indexer.rs
  examples/custom-indexer/rust/Cargo.toml
  examples/custom-indexer/rust/local_reader.rs
Labels: none

feat(explorer): add burned and minted token amounts to ended epochs (#4764)
  .github/workflows/_e2e.yml
  apps/apps-backend/src/features/features.controller.ts
  apps/core/src/enums/features.enums.ts
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useFeatureEnabledByNetwork.ts
  apps/explorer/src/pages/epochs/stats/EpochTopStats.tsx
Labels: explorer, apps-backend

include external crates in coverage report (#4788)
  .github/workflows/cargo_llvm_cov.yml
Labels: none

feat(docs): mint ctf completion nft (#4521)
  docs/content/developer/iota-move-ctf/challenge_1.mdx
  docs/content/developer/iota-move-ctf/challenge_2.mdx
  docs/content/developer/iota-move-ctf/challenge_3.mdx
  docs/content/developer/iota-move-ctf/challenge_4.mdx
  docs/content/developer/iota-move-ctf/challenge_5.mdx
  docs/content/developer/iota-move-ctf/challenge_6.mdx
  docs/content/developer/iota-move-ctf/challenge_7.mdx
  docs/content/developer/iota-move-ctf/challenge_8.mdx
  docs/site/src/components/CTF/ctf-verifier.tsx
  docs/site/src/components/CTF/popup.tsx
  docs/site/src/utils/ctf-utils.ts
Labels: documentation

refactor(tooling-ci): connect vercel to git (#4766)
  .github/CODEOWNERS
  .github/workflows/_vercel_deploy.yml
  .github/workflows/apps_backend_deploy.yml
  .github/workflows/apps_explorer_deploy.yml
  .github/workflows/apps_explorer_prod_deploy.yml
  .github/workflows/apps_ui_kit_deploy.yml
  .github/workflows/apps_wallet_dashboard_deploy.yml
  .github/workflows/apps_wallet_dashboard_prod_deploy.yml
  .github/workflows/hierarchy.yml
  scripts/tooling/vercel/ignore-build-step-base.sh
  scripts/tooling/vercel/ignore-build-step-previews.sh
  vercel.json
Labels: none

fix(move-analyzer): fix crash if open a standalone Move file (#4791)
  external-crates/move/crates/move-analyzer/src/symbols.rs
Labels: none

feat(scripts): Add script to track upstream commits (#4370)
  scripts/track_upstream_commits/README.md
  scripts/track_upstream_commits/python_venv_wrapper.sh
  scripts/track_upstream_commits/run.sh
  scripts/track_upstream_commits/track_upstream_commits.py
Labels: none

fix(docs): fix graphql URLs (#4816)
  docs/content/developer/getting-started/graphql-rpc.mdx
  docs/content/developer/graphql-rpc.mdx
Labels: documentation

feat(iota): read about section from manifest description (#4797)
  crates/iota/Cargo.toml
  crates/iota/src/main.rs
Labels: none

fix(wallet-dashboard): coin-metadata query address missing 0x for native tokens (#4634)
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Labels: wallet-dashboard

chore(ci): remove redundant cargo action installs from workflows (#4567)
  .github/workflows/_execution_cut.yml
  .github/workflows/_external_rust_tests.yml
  .github/workflows/_move_tests.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/cargo_llvm_cov.yml
  .github/workflows/nightly.yml
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/content/**/*
explorer:
  - changed-files:
      - any-glob-to-any-file: apps/explorer/**/*
wallet:
  - changed-files:
      - any-glob-to-any-file: apps/wallet/**/*
wallet-dashboard:
  - changed-files:
      - any-glob-to-any-file: apps/wallet-dashboard/**/*
ts-sdk:
  - changed-files:
      - any-glob-to-any-file: sdk/**/*
apps-ui-kit:
  - changed-files:
      - any-glob-to-any-file: apps/ui-kit/**/*
apps-backend:
  - changed-files:
      - any-glob-to-any-file: apps/apps-backend/**/*
tooling:
  - changed-files:
      - any-glob-to-any-file: |
          sdk/**
          apps/**
          dapps/**
          linting/**
          .husky/**
          .changeset/**
          .eslintrc.js
          .lintstagedrc.json
          .npmrc
          .prettierignore
          graphql.config.ts
          package.json
          pnpm-workspace.yaml
          prettier.config.js
          turbo.json
          vercel.json
