Repository Thoralf-M/iota, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, explorer, wallet, wallet-dashboard, ts-sdk, apps-ui-kit, apps-backend, tooling

task(devx): Remove Telemetry docs (#5007)
  docs/content/operator/telemetry/_iota-telemetry.mdx
  docs/content/sidebars/operator.js
Labels: documentation

docs(cli): add completions commands (#4819)
  docs/content/references/cli.mdx
Labels: documentation

fix: `basic_read_cmd_snapshot_tests` by ignoring it (#5018)
  crates/iota-e2e-tests/tests/snapshot_tests.rs
  crates/iota-e2e-tests/tests/snapshots/snapshot_tests__body_fn.snap
Labels: none

feat(wallet): update manage accounts to accomodate for legacy account sources and add legacy badge (#5000)
  apps/wallet/src/background/accounts/isLegacyAccount.ts
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroup.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/AccountGroupItem.tsx
  apps/wallet/src/ui/app/shared/page-main-layout/PageMainLayout.tsx
Labels: wallet

fix(wallet,explorer): Reconfigure Amplitude (#4956)
  apps/explorer/ampli.json
  apps/explorer/package.json
  apps/explorer/prependLicense.mjs
  apps/explorer/src/hooks/useInitialPageView.ts
  apps/explorer/src/lib/utils/analytics/ampli/index.ts
  apps/explorer/src/lib/utils/analytics/amplitude.ts
  apps/wallet/ampli.json
  apps/wallet/src/shared/analytics/ampli/index.ts
  apps/wallet/src/shared/analytics/amplitude.ts
  apps/wallet/src/ui/app/hooks/useInitialPageView.ts
Labels: explorer, wallet

feat(iota): add `--dev-inspect` flag to CLI (#5021)
  crates/iota/src/client_commands.rs
  crates/iota/src/client_ptb/ast.rs
  crates/iota/src/client_ptb/parser.rs
  crates/iota/src/client_ptb/ptb.rs
  crates/iota/src/client_ptb/snapshots/iota__client_ptb__parser__tests__parse_commands.snap
  crates/iota/src/client_ptb/snapshots/iota__client_ptb__parser__tests__parse_publish.snap
  crates/iota/src/displays/dev_inspect.rs
  crates/iota/src/displays/mod.rs
  crates/iota/tests/cli_tests.rs
Labels: none

fix(explorer): Fix last rewards metric in validators page (#4964)
  apps/explorer/src/pages/validators/Validators.tsx
Labels: explorer

chore(examples): Separate examples from the workspace and check them in CI (#4961)
  .github/actions/diffs/action.yml
  .github/workflows/_rust.yml
  .github/workflows/_rust_lints.yml
  .github/workflows/hierarchy.yml
  Cargo.lock
  Cargo.toml
  docker/iota-bridge-indexer/Dockerfile
  docker/iota-data-ingestion/Dockerfile
  docker/iota-graphql-rpc/Dockerfile
  docker/iota-indexer/Dockerfile
  docker/iota-node/Dockerfile
  docker/iota-proxy/Dockerfile
  docker/iota-rosetta/Dockerfile
  docker/iota-source-validation-service/Dockerfile
  docker/iota-tools/Dockerfile
  docker/iota/Dockerfile
  docs/examples/rust/Cargo.lock
  docs/examples/rust/Cargo.toml
  examples/custom-indexer/rust/Cargo.toml
  examples/tic-tac-toe/cli/Cargo.toml
  scripts/simtest/config-patch
Labels: none

fix: default node p2p `listen_address` port (#5030)
  crates/iota-config/src/p2p.rs
Labels: none

fix: Ignore `verify_latest_tx_replay_testnet_mainnet` test for now (#5014)
  crates/iota-replay/src/tests.rs
Labels: none

feat(iota/docs): add dev inspect test and docs (#5022)
  crates/iota/src/client_commands.rs
  crates/iota/tests/cli_tests.rs
  docs/content/references/cli/ptb.mdx
Labels: documentation

fix(devx): Change Sidebar Label for Ts SDK's IotaClient (#5033)
  docs/content/ts-sdk/typescript/iota-client.mdx
Labels: documentation

don't cancel in progress on develop (#5034)
  .github/workflows/_cargo_deny.yml
  .github/workflows/_docs_lint.yml
  .github/workflows/_docusaurus.yml
  .github/workflows/_e2e.yml
  .github/workflows/_ledgernano.yml
  .github/workflows/_move_ide.yml
  .github/workflows/_rust_lints.yml
  .github/workflows/_typos.yml
  .github/workflows/hierarchy.yml
  .github/workflows/preview_wiki.yml
Labels: none

feat(docs): shared object example (#4789)
  docs/content/developer/iota-101/objects/shared-object-example.mdx
  docs/content/sidebars/developer.js
Labels: documentation

fix(docs): edit sequence diagrams in sponsored-tx article (#4796)
  docs/content/developer/iota-101/transactions/sponsored-transactions/about-sponsored-transactions.mdx
  docs/site/static/img/developer/iota-101/transactions/sponsored-transactions/sponsored-proposed-tx.png
  docs/site/static/img/developer/iota-101/transactions/sponsored-transactions/sponsored-txn.png
  docs/site/static/img/developer/iota-101/transactions/sponsored-transactions/user-proposed-tx-1.png
  docs/site/static/img/developer/iota-101/transactions/sponsored-transactions/user-proposed-tx-2.png
  docs/site/static/img/developer/iota-101/transactions/sponsored-transactions/user-proposed-txn.png
Labels: documentation

update(docs) fix typo in getting started section (#5039)
  docs/content/developer/getting-started/connect.mdx
  docs/content/developer/getting-started/local-network.mdx
Labels: documentation

fix(docs): fix statement about gas fees (#5043)
  docs/content/developer/iota-101/transactions/sponsored-transactions/about-sponsored-transactions.mdx
Labels: documentation

feat(wallet): Update host permissions (#5011)
  apps/wallet/src/manifest/manifest.json
Labels: wallet

chore(docs): format rust code in sponsored tx code (#5044)
  docs/content/developer/iota-101/transactions/sponsored-transactions/about-sponsored-transactions.mdx
Labels: documentation

feat(iota): `KeyToolCommand::UpdateAlias` accepts a key identity instead of an alias (#5040)
  crates/iota/src/key_identity.rs
  crates/iota/src/keytool.rs
Labels: none

chore(clippy): remove `useless_conversion` (#5027)
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/authority_server.rs
  crates/iota-core/src/execution_cache/writeback_cache.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-json-rpc/src/read_api.rs
  iota-execution/latest/iota-move-natives/src/lib.rs
Labels: none

fix(genesis-geremony): fix examine-genesis-checkpoint (#4829)
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/stardust/output/alias.rs
  crates/iota-types/src/stardust/output/basic.rs
  crates/iota-types/src/stardust/output/nft.rs
  crates/iota-types/src/timelock/timelock.rs
  crates/iota/src/genesis_ceremony.rs
  crates/iota/src/genesis_inspector.rs
Labels: none

[indexer]: Create script to autogenerate indexer schema (#5012)
  crates/iota-indexer/src/schema.patch
  crates/iota-indexer/src/schema.rs
  crates/iota-indexer/src/schema/mod.rs
  crates/iota-indexer/src/schema/pg.rs
  scripts/indexer-schema/Dockerfile
  scripts/indexer-schema/build.sh
  scripts/indexer-schema/generate.sh
Labels: none

fix(genesis-builder): Always destroy allocation objects when picked (#5028)
  crates/iota-config/src/migration_tx_data.rs
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-genesis-builder/src/stake.rs
Labels: none

feat(wallet-dashboard): Integrate Sentry (#4820)
  apps/wallet-dashboard/.gitignore
  apps/wallet-dashboard/app/global-error.tsx
  apps/wallet-dashboard/instrumentation.ts
  apps/wallet-dashboard/lib/utils/defaultRpcClient.ts
  apps/wallet-dashboard/next.config.mjs
  apps/wallet-dashboard/package.json
  apps/wallet-dashboard/providers/AppProviders.tsx
  apps/wallet-dashboard/sentry.client.config.ts
  apps/wallet-dashboard/sentry.common.config.mjs
  apps/wallet-dashboard/sentry.edge.config.ts
  apps/wallet-dashboard/sentry.server.config.ts
  pnpm-lock.yaml
Labels: wallet-dashboard

chore(CI): Move split cluster check into hierarchy (#4749)
  .github/workflows/_split_cluster.yml
  .github/workflows/hierarchy.yml
  .github/workflows/turbo_hierarchy.yml
Labels: none

Upgrade async-graphql deps (#4128)
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-rpc/Cargo.toml
  crates/iota-graphql-rpc/schema.graphql
  crates/iota-graphql-rpc/src/data/package_resolver.rs
  crates/iota-graphql-rpc/src/types/checkpoint.rs
  crates/iota-graphql-rpc/src/types/epoch.rs
  crates/iota-graphql-rpc/src/types/move_package.rs
  crates/iota-graphql-rpc/src/types/move_value.rs
  crates/iota-graphql-rpc/src/types/object.rs
  crates/iota-graphql-rpc/src/types/transaction_block/mod.rs
  crates/iota-graphql-rpc/src/types/validator.rs
  crates/iota-graphql-rpc/tests/snapshots/snapshot_tests__schema_sdl_export.snap
  crates/iota-transactional-test-runner/Cargo.toml
  crates/iota-transactional-test-runner/src/test_adapter.rs
Labels: none

feat(docs): simple token transfer tutorial (#4442)
  docs/content/developer/getting-started/simple-token-transfer.mdx
  docs/content/sidebars/developer.js
  docs/site/static/img/developer/getting-started/token-transfer/Dashboard.png
  docs/site/static/img/developer/getting-started/token-transfer/check-balance.png
  docs/site/static/img/developer/getting-started/token-transfer/check-transaction.png
  docs/site/static/img/developer/getting-started/token-transfer/minting-token.png
  docs/site/static/img/developer/getting-started/token-transfer/transaction-successful.png
  docs/site/static/img/developer/getting-started/token-transfer/wallet-check.png
  docs/site/static/img/developer/getting-started/token-transfer/wallet-connect.png
  docs/site/static/img/developer/getting-started/token-transfer/wallet-connected.png
  docs/site/static/img/developer/getting-started/token-transfer/wallet-transaction.png
Labels: documentation

[indexer]: Cleanup large-object representation of genesis transaction (#5016)
  Cargo.lock
  crates/iota-graphql-rpc/src/types/transaction_block/mod.rs
  crates/iota-indexer/Cargo.toml
  crates/iota-indexer/examples/index_genesis_transaction.rs
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/src/models/large_objects.rs
  crates/iota-indexer/src/models/mod.rs
  crates/iota-indexer/src/models/transactions.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
Labels: none

feat(wallet-dashboard): update migration portfolio to include shared objects (#4974)
  apps/core/src/api/StardustIndexerClient.ts
  apps/core/src/api/index.ts
  apps/core/src/constants/migration.constants.ts
  apps/core/src/contexts/StardustIndexerClientContext.tsx
  apps/core/src/contexts/index.ts
  apps/core/src/utils/migration/index.ts
  apps/core/src/utils/migration/mapStardustIndexerOutputs.ts
  apps/core/src/utils/migration/types.ts
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/hooks/useGetAllStardustSharedObjects.ts
  apps/wallet-dashboard/hooks/useGetStardustMigratableObjects.ts
  apps/wallet-dashboard/instrumentation.ts
  apps/wallet-dashboard/lib/utils/timelock.ts
  apps/wallet-dashboard/providers/AppProviders.tsx
  apps/wallet-dashboard/providers/StardustIndexerClientProvider.tsx
  apps/wallet-dashboard/sentry.common.config.mjs
  sdk/dapp-kit/src/components/IotaClientProvider.tsx
  sdk/typescript/src/client/network.ts
Labels: wallet-dashboard, ts-sdk

task(devx): Add Tags - Rust SDK (#4994)
  docs/content/developer/iota-101/objects/transfers/transfer-to-object.mdx
  docs/content/developer/iota-101/transactions/ptb/programmable-transaction-blocks.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/use-sponsored-transactions.mdx
  docs/content/developer/iota-101/using-events.mdx
  docs/content/developer/stardust/claiming/address-unlock-condition.mdx
  docs/content/developer/stardust/claiming/alias.mdx
  docs/content/developer/stardust/claiming/basic.mdx
  docs/content/developer/stardust/claiming/foundry.mdx
  docs/content/developer/stardust/claiming/nft.mdx
  docs/content/developer/stardust/claiming/self-sponsor.mdx
  docs/content/references/rust-sdk.mdx
  docs/content/tags.yml
Labels: documentation

task(devx): Add Tags - IOTA CLI (#4996)
  docs/content/developer/cryptography/transaction-auth/keys-addresses.mdx
  docs/content/developer/cryptography/transaction-auth/multisig.mdx
  docs/content/developer/cryptography/transaction-auth/offline-signing.mdx
  docs/content/developer/getting-started/build-test.mdx
  docs/content/developer/getting-started/coffee-example.mdx
  docs/content/developer/getting-started/connect.mdx
  docs/content/developer/getting-started/create-a-package.mdx
  docs/content/developer/getting-started/debug.mdx
  docs/content/developer/getting-started/install-iota.mdx
  docs/content/developer/getting-started/iota-environment.mdx
  docs/content/developer/getting-started/local-network.mdx
  docs/content/developer/getting-started/publish.mdx
  docs/content/developer/iota-101/move-overview/package-upgrades/automated-address-management.mdx
  docs/content/developer/iota-101/move-overview/package-upgrades/custom-policies.mdx
  docs/content/developer/iota-101/objects/object-ownership/immutable.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/references/cli.mdx
  docs/content/references/cli/ceremony.mdx
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/client.mdx
  docs/content/references/cli/console.mdx
  docs/content/references/cli/keytool.mdx
  docs/content/references/cli/move.mdx
  docs/content/references/cli/ptb.mdx
  docs/content/references/cli/validator.mdx
  docs/content/tags.yml
Labels: documentation

fix: re-add rpc-indexes to support `InputObject` and `ChangedObject` filters (partly revert #3142) (#5074)
  crates/iota-core/src/authority.rs
  crates/iota-storage/src/indexes.rs
  crates/iota-tool/src/db_tool/index_search.rs
Labels: none

task(devx): Add tags - Tokenomics (#4984)
  docs/content/about-iota/FAQ.mdx
  docs/content/about-iota/iota-architecture/staking-rewards.mdx
  docs/content/about-iota/tokenomics/gas-in-iota.mdx
  docs/content/about-iota/tokenomics/gas-pricing.mdx
  docs/content/about-iota/tokenomics/iota-token.mdx
  docs/content/about-iota/tokenomics/proof-of-stake.mdx
  docs/content/about-iota/tokenomics/staking-unstaking.mdx
  docs/content/about-iota/tokenomics/tokenomics.mdx
  docs/content/about-iota/tokenomics/validators-staking.mdx
  docs/content/tags.yml
Labels: documentation

task(devx): Add Tags - Identity (#4992)
  docs/content/iota-identity/contribute.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/iota-identity/explanations/decentralized-identifiers.mdx
  docs/content/iota-identity/explanations/verifiable-credentials.mdx
  docs/content/iota-identity/explanations/verifiable-presentations.mdx
  docs/content/iota-identity/getting-started/rust.mdx
  docs/content/iota-identity/getting-started/universal-resolver.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/create.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/delete.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/resolve.mdx
  docs/content/iota-identity/how-tos/decentralized-identifiers/update.mdx
  docs/content/iota-identity/how-tos/domain-linkage/create-and-verify.mdx
  docs/content/iota-identity/how-tos/key-storage.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/create.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/revocation.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/selective-disclosure.mdx
  docs/content/iota-identity/how-tos/verifiable-credentials/zero-knowledge-selective-disclosure.mdx
  docs/content/iota-identity/how-tos/verifiable-presentations/create-and-validate.mdx
  docs/content/iota-identity/index.mdx
  docs/content/operator/telemetry/iota-telemetry.mdx
  docs/content/references/iota-identity/iota-did-method-spec.mdx
  docs/content/references/iota-identity/overview.mdx
  docs/content/references/iota-identity/revocation-bitmap-2022.mdx
  docs/content/references/iota-identity/revocation-timeframe-2024.mdx
  docs/content/tags.yml
Labels: documentation

fix: json-rpc test `test_unstaking` by ignoring it (#5087)
  crates/iota-json-rpc-tests/tests/governance_api.rs
Labels: none

cleanup: docs (#5054)
  docs/content/about-iota/about-iota.mdx
  docs/content/about-iota/iota-architecture/iota-architecture.mdx
  docs/content/about-iota/iota-architecture/iota-security.mdx
  docs/content/about-iota/iota-architecture/transaction-lifecycle.mdx
  docs/content/about-iota/why-move.mdx
  docs/content/developer/getting-started/getting-started.mdx
  docs/content/operator/validator-committee.mdx
  docs/content/references/research-papers.mdx
  docs/site/src/pages/index.js
Labels: documentation

feat(wallet-dashboard): Integrate Amplitude (#4930)
  apps/wallet-dashboard/ampli.json
  apps/wallet-dashboard/app/layout.tsx
  apps/wallet-dashboard/components/Amplitude.tsx
  apps/wallet-dashboard/components/index.ts
  apps/wallet-dashboard/lib/utils/analytics/ampli/index.ts
  apps/wallet-dashboard/lib/utils/analytics/amplitude.ts
  apps/wallet-dashboard/lib/utils/analytics/index.ts
  apps/wallet-dashboard/package.json
  apps/wallet-dashboard/prependlicense.mjs
  pnpm-lock.yaml
Labels: wallet-dashboard

feat: build docker images on platform-specific runners instead of QEMU (#5048)
  .github/workflows/release_docker.yml
Labels: none

fix(ci): call correct split cluster workflow file (#5094)
  .github/workflows/nightly.yml
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/content/**/*
explorer:
  - changed-files:
      - any-glob-to-any-file: apps/explorer/**/*
wallet:
  - changed-files:
      - any-glob-to-any-file: apps/wallet/**/*
wallet-dashboard:
  - changed-files:
      - any-glob-to-any-file: apps/wallet-dashboard/**/*
ts-sdk:
  - changed-files:
      - any-glob-to-any-file: sdk/**/*
apps-ui-kit:
  - changed-files:
      - any-glob-to-any-file: apps/ui-kit/**/*
apps-backend:
  - changed-files:
      - any-glob-to-any-file: apps/apps-backend/**/*
tooling:
  - changed-files:
      - any-glob-to-any-file: |
          sdk/**
          apps/**
          dapps/**
          linting/**
          .husky/**
          .changeset/**
          .eslintrc.js
          .lintstagedrc.json
          .npmrc
          .prettierignore
          graphql.config.ts
          package.json
          pnpm-workspace.yaml
          prettier.config.js
          turbo.json
          vercel.json
