Repository Thoralf-M/iota, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, explorer, wallet, wallet-dashboard, ts-sdk, apps-ui-kit, apps-backend, tooling

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/content/**/*
explorer:
  - changed-files:
      - any-glob-to-any-file: apps/explorer/**/*
wallet:
  - changed-files:
      - any-glob-to-any-file: apps/wallet/**/*
wallet-dashboard:
  - changed-files:
      - any-glob-to-any-file: apps/wallet-dashboard/**/*
ts-sdk:
  - changed-files:
      - any-glob-to-any-file: sdk/**/*
apps-ui-kit:
  - changed-files:
      - any-glob-to-any-file: apps/ui-kit/**/*
apps-backend:
  - changed-files:
      - any-glob-to-any-file: apps/apps-backend/**/*
tooling:
  - changed-files:
      - any-glob-to-any-file: |
          sdk/**
          apps/**
          dapps/**
          linting/**
          .husky/**
          .changeset/**
          .eslintrc.js
          .lintstagedrc.json
          .npmrc
          .prettierignore
          graphql.config.ts
          package.json
          pnpm-workspace.yaml
          prettier.config.js
          turbo.json
          vercel.json

feat(explorer): remove truncate object fields (#4631)
  apps/explorer/src/components/object/FieldItem.tsx
Labels: explorer

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

rephrase introduction
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

fix(clippy): 1.83's `manual_div_ceil` (#4641)
  crates/iota-rpc-loadgen/src/payload/rpc_command_processor.rs
  crates/iota-storage/src/sharded_lru.rs
  iota-execution/latest/iota-move-natives/src/crypto/bls12381.rs
  iota-execution/latest/iota-move-natives/src/crypto/ecdsa_k1.rs
  iota-execution/latest/iota-move-natives/src/crypto/ecdsa_r1.rs
  iota-execution/latest/iota-move-natives/src/crypto/ecvrf.rs
  iota-execution/latest/iota-move-natives/src/crypto/ed25519.rs
  iota-execution/latest/iota-move-natives/src/crypto/groth16.rs
  iota-execution/latest/iota-move-natives/src/crypto/hash.rs
Labels: none

chore: fix newly detected typos (#4662)
  bridge/evm/contracts/utils/BridgeUtils.sol
  crates/iota-config/src/p2p.rs
  crates/iota-core/src/transaction_orchestrator.rs
  crates/iota-core/src/unit_tests/congestion_control_tests.rs
  crates/iota-indexer/src/models/large_objects.rs
  crates/iota/src/validator_commands.rs
Labels: none

feat(wallet-dashboard): display migration summary in migration confirmation view (#4640)
  apps/wallet-dashboard/components/Dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/migration/index.ts
Labels: wallet-dashboard

fix(docs): Fix CTF UI (#4583)
  docs/site/src/components/CTF/ctf-verifier.tsx
Labels: none

Update anemo to e609f7697e (#4716)
  Cargo.lock
  Cargo.toml
  crates/iota-tool/Cargo.toml
Labels: none

feat(iota)!: remove legacy transfer-iota CLI command (#4701)
  crates/iota-transaction-builder/src/utils.rs
  crates/iota/src/client_commands.rs
  crates/iota/tests/cli_tests.rs
  docs/content/developer/cryptography/transaction-auth/multisig.mdx
  docs/content/developer/cryptography/transaction-auth/offline-signing.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/client.mdx
  docs/site/static/json/developer/cryptography/offline-signing.json
Labels: documentation

fix(wallet-dashboard): number of different native tokens in migration summary (#4619)
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/components/dialogs/migration/MigrationDialog.tsx
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/migration/MigrationObjectsPanel.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/useGroupedStardustObjects.ts
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
  apps/wallet-dashboard/lib/utils/migration/groupStardustObjectsByMigrationStatus.ts
Labels: wallet-dashboard

fix(wallet-dashboard): sidebar icons (#4723)
  apps/wallet-dashboard/lib/constants/routes.constants.ts
Labels: wallet-dashboard

chore(docs): Use lower case for full node (#4579)
  docs/content/_snippets/info-high-traffic.mdx
  docs/content/_snippets/initialize-iota-client-cli.mdx
  docs/content/_snippets/warning-advanced-instructions-node-setup.mdx
  docs/content/developer/advanced/custom-indexer.mdx
  docs/content/developer/advanced/iota-repository.mdx
  docs/content/developer/cryptography.mdx
  docs/content/developer/cryptography/checkpoint-verification.mdx
  docs/content/developer/exchange-integration/exchange-integration.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/use-sponsored-transactions.mdx
  docs/content/developer/standards/display.mdx
  docs/content/operator/archives.mdx
  docs/content/operator/data-management.mdx
  docs/content/operator/genesis.mdx
  docs/content/operator/indexer-functions.mdx
  docs/content/operator/iota-full-node/monitoring-and-pruning.mdx
  docs/content/operator/iota-full-node/overview.mdx
  docs/content/operator/iota-full-node/source.mdx
  docs/content/operator/operator.mdx
  docs/content/operator/snapshots.mdx
  docs/content/operator/validator-config.mdx
  docs/content/references/cli/client.mdx
  docs/content/references/event-query-and-subscription.mdx
  docs/content/references/exchange-integration-guide.mdx
  docs/content/ts-sdk/typescript/iota-client.mdx
  docs/site/src/pages/index.js
  docs/site/static/json/developer/advanced-topics/custom-indexer.json
  docs/site/static/json/developer/iota-101/transactions/sponsored-transactions/about-sponsored-transactions.json
  docs/site/static/json/node-operators/data-management.json
  docs/site/static/json/node-operators/iota-full-node/node-setup.json
  docs/site/static/json/node-operators/iota-full-node/overview.json
  docs/site/static/json/node-operators/iota-full-node/pruning.json
  docs/site/static/json/node-operators/snapshots.json
Labels: documentation

feat(wallet-dashboard): improve date/time format (#4633)
  apps/wallet-dashboard/components/dialogs/vesting/VestingScheduleBox.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet-dashboard/lib/utils/time.ts
Labels: wallet-dashboard

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

fix(wallet,wallet-dashboard): fix inconsistencies in tx history (#4601)
  apps/core/src/components/transaction/TransactionIcon.tsx
  apps/core/src/components/transaction/details/StakeTransactionDetails.tsx
  apps/core/src/components/transaction/index.ts
  apps/core/src/components/transaction/info/UnstakeTransactionInfo.tsx
  apps/core/src/hooks/useTransactionSummary.ts
  apps/core/src/interfaces/index.ts
  apps/core/src/interfaces/stakeEvent.interfaces.ts
  apps/core/src/interfaces/transactions.interfaces.ts
  apps/core/src/utils/stake/checkIfIsTimelockedStaking.ts
  apps/core/src/utils/stake/getStakeDetailsFromEvent.ts
  apps/core/src/utils/stake/getTransactionAmountForTimelocked.ts
  apps/core/src/utils/stake/getUnstakeDetailsFromEvent.ts
  apps/core/src/utils/stake/index.ts
  apps/core/src/utils/transaction/getLabel.ts
  apps/core/src/utils/transaction/getTransactionAction.ts
  apps/core/src/utils/transaction/index.ts
  apps/wallet-dashboard/components/dialogs/transaction/TransactionDetailsLayout.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet-dashboard/components/transactions/index.ts
  apps/wallet-dashboard/lib/utils/transaction.ts
  apps/wallet/src/ui/app/components/transactions-card/TxnIcon.tsx
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
Labels: wallet, wallet-dashboard

feat: bump version to 0.9.0-alpha
  Cargo.lock
  Cargo.toml
  crates/iota-graphql-e2e-tests/tests/call/simple.exp
  crates/iota-open-rpc/spec/openrpc.json
Labels: none

feat(docs) : Add challenge 0 (#4602)
  docs/content/developer/iota-move-ctf/challenge_0.mdx
  docs/content/sidebars/developer.js
  docs/examples/move/ctf/challenge_0/Move.toml
  docs/examples/move/ctf/challenge_0/sources/leap_frog_nft.move
  docs/site/src/components/CTF/mint-leap-frog-nft.tsx
  docs/site/src/components/CTF/popup.tsx
  docs/site/src/utils/ctf-utils.ts
Labels: documentation

feat: added protocol version 3
  crates/iota-open-rpc/spec/openrpc.json
  crates/iota-protocol-config/src/lib.rs
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Mainnet_version_3.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__Testnet_version_3.snap
  crates/iota-protocol-config/src/snapshots/iota_protocol_config__test__version_3.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__populated_genesis_snapshot_matches-2.snap
Labels: none

fix(gen-files): fix the Dockerfile to update the `openrpc` and `graphql` specs (#4705)
  scripts/generate_files/Dockerfile
Labels: none

fix: fix wrong change of loop start variable
  crates/iota-protocol-config/src/lib.rs
Labels: none

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/authenticated-assets.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

fix: update the bucket information in iota-tool (#4740)
  crates/iota-tool/src/commands.rs
Labels: none

Update authenticated-assets.mdx
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

Apply suggestions from code review
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Apply suggestions from code review
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

fix: update event_connection e2e expectations according to the instructions
  crates/iota-graphql-e2e-tests/tests/event_connection/tx_digest.exp
  crates/iota-graphql-e2e-tests/tests/event_connection/tx_digest.move
  crates/iota-graphql-e2e-tests/tests/event_connection/type_param_filter.exp
  crates/iota-graphql-e2e-tests/tests/event_connection/type_param_filter.move
Labels: none

feat(dashboard): extract basic objects from all outputs (#4730)
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/lib/utils/migration/groupMigrationObjects.ts
Labels: wallet-dashboard
