Repository Thoralf-M/iota, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, explorer, wallet, wallet-dashboard, ts-sdk, apps-ui-kit, apps-backend, tooling

Recommend IOTA Move extension for VS Code (#4632)
  .vscode/extensions.json
Labels: none

feat: remove unnecesary loader (#4613)
  apps/wallet/src/ui/app/pages/home/nfts/index.tsx
Labels: wallet

chore: replace `*/iota/blob/main` with `*/iota/blob/develop` (#4616)
  CONTRIBUTING.md
  chocolatey/iota.nuspec
  crates/iota-types/src/README.md
  docs/content/developer/advanced/onchain-randomness.mdx
  docs/content/developer/getting-started/local-network.mdx
  docs/content/developer/iota-101/move-overview/patterns/hot-potato.mdx
  docs/content/developer/iota-101/move-overview/patterns/id-pointer.mdx
  docs/content/developer/iota-101/move-overview/patterns/transferable-witness.mdx
  docs/content/developer/iota-101/objects/object-model.mdx
  docs/content/developer/iota-101/objects/object-ownership/immutable.mdx
  docs/site/docusaurus.config.js
  nre/validator_tasks.md
  sdk/typescript/README.md
Labels: documentation, ts-sdk

feat(iota-types): remove outdated event tests (#4643)
  crates/iota-types/src/unit_tests/event_filter_tests.rs
Labels: none

chore(iota): Remove extra address generation in client commands (#4644)
  Cargo.lock
  crates/iota/src/iota_commands.rs
Labels: none

feat(docker): Add support for arm64 and amd64 builds for jemalloc (#4585)
  .github/workflows/release_docker.yml
  docker/iota-bridge-indexer/Dockerfile
  docker/iota-indexer-tidb/Dockerfile
  docker/iota-indexer/Dockerfile
  docker/iota-node/Dockerfile
Labels: none

feat: remove unnecessary back buttons (#4620)
  apps/wallet/src/ui/app/components/iota-apps/DisconnectApp.tsx
  apps/wallet/src/ui/app/pages/home/receipt/index.tsx
Labels: wallet

feat: add available staking in vesting view (#4635)
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
Labels: wallet-dashboard

feat(wallet-dashboard): Temporarily skip failing vesting tests (to be fixed in issue #4664) (#4667)
  apps/wallet-dashboard/lib/utils/vesting/vesting.spec.ts
Labels: wallet-dashboard

fix(cli): correct switch env usage (#4614)
  crates/iota/src/client_commands.rs
  docs/content/references/cli/client.mdx
Labels: documentation

chore: add rust examples to workspace (#4609)
  Cargo.lock
  Cargo.toml
  examples/custom-indexer/rust/Cargo.toml
  examples/custom-indexer/rust/local_reader.rs
  examples/custom-indexer/rust/remote_reader.rs
  examples/tic-tac-toe/cli/Cargo.toml
  examples/tic-tac-toe/cli/src/board.rs
  examples/tic-tac-toe/cli/src/client.rs
  examples/tic-tac-toe/cli/src/command.rs
  examples/tic-tac-toe/cli/src/crypto.rs
  examples/tic-tac-toe/cli/src/game.rs
  examples/tic-tac-toe/cli/src/turn_cap.rs
Labels: none

feat(iota)!: show publicBase64Key without flag in `keytool show` (#4637)
  crates/iota/src/keytool.rs
  crates/iota/src/unit_tests/keytool_tests.rs
  docs/content/references/cli/keytool.mdx
Labels: documentation

fix(docs): update bech32 conversion docs (#4436)
  docs/content/developer/stardust/addresses.mdx
Labels: documentation

fix(cli): don't attempt connection for `client envs` command (#4605)
  crates/iota/src/client_commands.rs
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: none

feat(iota): add doc comments to client and wallet (#4696)
  crates/iota-sdk/src/iota_client_config.rs
  crates/iota-sdk/src/wallet_context.rs
Labels: none

chore: Fix some compiler warnings from `#[expect]` tags on msim (#4695)
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_store.rs
  crates/iota-core/src/epoch/randomness.rs
  crates/iota-network/build.rs
  crates/iota-network/src/randomness/mod.rs
  crates/iota-node/src/lib.rs
Labels: none

[iota-indexer]: Adapt transactions queries to lack of index on digest column (#4586)
  crates/iota-indexer/src/indexer_reader.rs
Labels: none

feat(wallet, wallet-dashboard): Remove all links in asset details (#4606)
  apps/core/src/hooks/useNftDetails.ts
  apps/wallet-dashboard/components/Dialogs/Assets/views/DetailsView.tsx
  apps/wallet/src/ui/app/pages/home/nft-details/index.tsx
Labels: wallet, wallet-dashboard

update identity object page
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

ac update
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

feat(node): Revert iota-proxy and update it to the latest upstream (#4391)
  .github/crates-filters.yml
  Cargo.lock
  Cargo.toml
  crates/iota-config/src/node.rs
  crates/iota-node/src/main.rs
  crates/iota-node/src/metrics.rs
  crates/iota-proxy/Cargo.toml
  crates/iota-proxy/build.rs
  crates/iota-proxy/src/admin.rs
  crates/iota-proxy/src/config.rs
  crates/iota-proxy/src/consumer.rs
  crates/iota-proxy/src/data/config.yaml
  crates/iota-proxy/src/handlers.rs
  crates/iota-proxy/src/histogram_relay.rs
  crates/iota-proxy/src/lib.rs
  crates/iota-proxy/src/main.rs
  crates/iota-proxy/src/metrics.rs
  crates/iota-proxy/src/middleware.rs
  crates/iota-proxy/src/peers.rs
  crates/iota-proxy/src/prom_to_mimir.rs
  crates/iota-proxy/src/remote_write.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-tls/Cargo.toml
  crates/iota-types/src/bridge.rs
  crates/prometheus-closure-metric/Cargo.toml
  docker/iota-proxy/Dockerfile
  docker/iota-proxy/build.sh
  nre/config/validator.yaml
  nre/ssfn_guide.md
Labels: none

Update proof-of-stake.mdx
  docs/content/about-iota/tokenomics/proof-of-stake.mdx
Labels: documentation

fix(iota-indexer): fix dev_inspect_transaction_block test (#4636)
  crates/iota-indexer/tests/rpc-tests/write_api.rs
Labels: none

identity hierarchies paragraph
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

fix(wallet-dashboard): Unskip and fix broken tests in vesting.spec.ts (#4704)
  apps/wallet-dashboard/lib/constants/vesting.constants.ts
  apps/wallet-dashboard/lib/utils/vesting/buildMockedObjectsWithDynamicDateUtils.ts
  apps/wallet-dashboard/lib/utils/vesting/vesting.spec.ts
Labels: wallet-dashboard

fix: use workspace dependencies for custom-indexer since it is now added to the root Cargo.toml, else it takes the latest tag from git (#4711)
  Cargo.lock
  examples/custom-indexer/rust/Cargo.toml
Labels: none

feat(iota-genesis-builder): create a Hornet snapshot filter framework + filter out voting outputs (#4513)
  crates/iota-genesis-builder/src/main.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-genesis-builder/src/stardust/process_outputs.rs
Labels: none

authenticated assets
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

fix: copy examples in Dockerfile
  docker/iota-bridge-indexer/Dockerfile
  docker/iota-graphql-rpc/Dockerfile
  docker/iota-indexer-tidb/Dockerfile
  docker/iota-indexer/Dockerfile
  docker/iota-node/Dockerfile
  docker/iota-proxy/Dockerfile
  docker/iota-rosetta-local/Dockerfile
  docker/iota-source-validation-service/Dockerfile
  docker/iota-tools/Dockerfile
  docker/iota/Dockerfile
Labels: none

fix(explorer): checkpoint total transactions (#4703)
  apps/explorer/src/lib/ui/utils/generateCheckpointsTableColumns.tsx
Labels: explorer

ownership & transfer
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

feat(iota-genesis-builder): Add configurable delegator to genesis CLI (#4346)
  crates/iota-config/src/genesis.rs
  crates/iota-e2e-tests/tests/full_node_migration_tests.rs
  crates/iota-genesis-builder/examples/snapshot_only_test_outputs.rs
  crates/iota-genesis-builder/src/lib.rs
  crates/iota-genesis-builder/src/stake.rs
  crates/iota-swarm-config/src/genesis_config.rs
  crates/iota-swarm-config/src/network_config_builder.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__genesis_config_snapshot_matches.snap
  crates/iota/src/genesis_ceremony.rs
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
  crates/test-cluster/src/lib.rs
  docker/pg-services-local/docker-compose.yaml
Labels: none

feat(wallet-dashboard): persist selected network (#4646)
  apps/core/src/hooks/useLocalStorage.ts
  apps/core/src/utils/index.ts
  apps/core/src/utils/toTitleCase.ts
  apps/wallet-dashboard/app/(protected)/components/top-nav/TopNav.tsx
  apps/wallet-dashboard/components/Dialogs/settings/views/NetworkSelectorView.tsx
  apps/wallet-dashboard/components/Dialogs/settings/views/SettingsListView.tsx
  apps/wallet-dashboard/hooks/index.ts
  apps/wallet-dashboard/hooks/usePersistedNetwork.ts
  apps/wallet-dashboard/providers/AppProviders.tsx
Labels: wallet-dashboard

feat(wallet): Add formatting with subscripts to amounts with long decimals (#4693)
  apps/core/src/hooks/__tests__/useFormatCoin.test.ts
  apps/core/src/utils/formatAmount.ts
  apps/wallet/src/ui/app/pages/home/tokens/coin-balance/index.tsx
Labels: wallet

typo
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

Update docs/content/iota-identity/explanations/about-identity-objects.mdx
  docs/content/iota-identity/explanations/about-identity-objects.mdx
Labels: documentation

fix tags
  docs/content/iota-identity/explanations/authenticated-assets.mdx
Labels: documentation

feat(wallet,wallet-dashboard): display stake information even though validator fetch failed (#4649)
  apps/core/src/components/stake/StakedCard.tsx
  apps/wallet-dashboard/components/Dialogs/Staking/views/DetailsView.tsx
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorLogo.tsx
Labels: wallet, wallet-dashboard

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/content/**/*
explorer:
  - changed-files:
      - any-glob-to-any-file: apps/explorer/**/*
wallet:
  - changed-files:
      - any-glob-to-any-file: apps/wallet/**/*
wallet-dashboard:
  - changed-files:
      - any-glob-to-any-file: apps/wallet-dashboard/**/*
ts-sdk:
  - changed-files:
      - any-glob-to-any-file: sdk/**/*
apps-ui-kit:
  - changed-files:
      - any-glob-to-any-file: apps/ui-kit/**/*
apps-backend:
  - changed-files:
      - any-glob-to-any-file: apps/apps-backend/**/*
tooling:
  - changed-files:
      - any-glob-to-any-file: |
          sdk/**
          apps/**
          dapps/**
          linting/**
          .husky/**
          .changeset/**
          .eslintrc.js
          .lintstagedrc.json
          .npmrc
          .prettierignore
          graphql.config.ts
          package.json
          pnpm-workspace.yaml
          prettier.config.js
          turbo.json
          vercel.json
