Repository Thoralf-M/iota, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, explorer, wallet, wallet-dashboard, ts-sdk, apps-ui-kit, apps-backend, tooling

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/content/**/*
explorer:
  - changed-files:
      - any-glob-to-any-file: apps/explorer/**/*
wallet:
  - changed-files:
      - any-glob-to-any-file: apps/wallet/**/*
wallet-dashboard:
  - changed-files:
      - any-glob-to-any-file: apps/wallet-dashboard/**/*
ts-sdk:
  - changed-files:
      - any-glob-to-any-file: sdk/**/*
apps-ui-kit:
  - changed-files:
      - any-glob-to-any-file: apps/ui-kit/**/*
apps-backend:
  - changed-files:
      - any-glob-to-any-file: apps/apps-backend/**/*
tooling:
  - changed-files:
      - any-glob-to-any-file: |
          sdk/**
          apps/**
          dapps/**
          linting/**
          .husky/**
          .changeset/**
          .eslintrc.js
          .lintstagedrc.json
          .npmrc
          .prettierignore
          graphql.config.ts
          package.json
          pnpm-workspace.yaml
          prettier.config.js
          turbo.json
          vercel.json

chore: fix clippy 1.84 lints (#4823)
  crates/iota-core/src/checkpoints/checkpoint_executor/mod.rs
  crates/iota-core/src/quorum_driver/tests.rs
  crates/iota-genesis-builder/src/stardust/native_token/package_builder.rs
  crates/iota-protocol-config-macros/src/lib.rs
  crates/iota-rest-api/src/response.rs
  crates/iota-source-validation/src/tests.rs
  crates/iota-swarm/src/memory/node.rs
  crates/iota-swarm/src/memory/swarm.rs
  crates/iota-transactional-test-runner/src/test_adapter.rs
  crates/iota-types/src/stardust/output/basic.rs
  crates/typed-store/src/rocks/mod.rs
  iota-execution/cut/src/plan.rs
Labels: none

fix(iota-keys): check alias uniqueness in alias update (#4957)
  crates/iota-keys/src/keystore.rs
  crates/iota-keys/tests/tests.rs
Labels: none

feat(wallet): add balance finder presentation view (#4891)
  apps/apps-backend/src/features/features.controller.ts
  apps/wallet/src/ui/app/index.tsx
  apps/wallet/src/ui/app/pages/accounts/ProtectAccountPage.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/RemoveDialog.tsx
  apps/wallet/src/ui/app/pages/accounts/manage/accounts-finder/AccountsFinderIntroPage.tsx
  apps/wallet/src/ui/assets/images/balance_finder_intro.svg
  apps/wallet/src/ui/assets/images/balance_finder_intro_darkmode.svg
Labels: wallet, apps-backend

fix(core): Fix crashes in execution_driver due to inability to execute transactions (#4928)
  crates/iota-core/src/execution_cache/writeback_cache.rs
Labels: none

fix(core): Wait for all previous commits to be sent to consensus handler at startup (#4941)
  consensus/core/src/authority_node.rs
  consensus/core/src/commit_consumer.rs
  crates/iota-core/src/consensus_manager/mysticeti_manager.rs
Labels: none

fix(core): Support concurrent threads locking the same transaction (#4944)
  crates/iota-core/src/execution_cache/object_locks.rs
  crates/iota-core/src/execution_cache/unit_tests/writeback_cache_tests.rs
Labels: none

fix(node): Merge from upstream: Do not continue transaction execution attempts after epoch has ended (#4886)
  crates/iota-core/src/execution_driver.rs
Labels: none

fix(node): Hold reconfig lock while handling transaction (#4684) (#4932)
  crates/iota-core/src/authority.rs
Labels: none

chore(ci): e2e changes (#4892)
  .github/workflows/_e2e.yml
  .github/workflows/hierarchy.yml
Labels: none

feat(scripts): add script to update light client checkpoints (#3926)
  crates/iota-light-client/src/utils.rs
  scripts/update_light_client_checkpoints.sh
Labels: none

chore: cleanup iota-data-ingestion docker folder structure (#4966)
  dev-tools/iota-data-ingestion/README.md
  dev-tools/iota-data-ingestion/config/config.yaml
  dev-tools/iota-data-ingestion/docker-compose.yaml
  docker/iota-data-ingestion/Dockerfile
  docker/iota-data-ingestion/build.sh
  docker/iota-data-ingestion/docker-compose.yaml
Labels: none

feat(wallet,wallet-dashboard): show fiat balance (#4747)
  apps/apps-backend/src/constants.ts
  apps/apps-backend/src/features/features.controller.ts
  apps/apps-backend/src/prices/prices.controller.ts
  apps/core/src/constants/coinTypeToFiatTokenName.constants.ts
  apps/core/src/constants/index.ts
  apps/core/src/enums/features.enums.ts
  apps/core/src/enums/fiatTokenName.enums.ts
  apps/core/src/enums/index.ts
  apps/core/src/hooks/index.ts
  apps/core/src/hooks/useGetFiatBalance.ts
  apps/core/src/hooks/useTokenPrice.ts
  apps/core/src/utils/formatBalanceToUSD.ts
  apps/core/src/utils/index.ts
  apps/explorer/src/components/IotaTokenCard.tsx
  apps/explorer/src/pages/home/Home.tsx
  apps/wallet-dashboard/components/account-balance/AccountBalance.tsx
  apps/wallet/src/ui/app/pages/home/tokens/coin-balance/index.tsx
Labels: explorer, wallet, wallet-dashboard, apps-backend

chore(*): Remove `test-utils` feature from `iota-types` (#4955)
  crates/iota-archival/Cargo.toml
  crates/iota-bridge-indexer/Cargo.toml
  crates/iota-bridge/Cargo.toml
  crates/iota-config/Cargo.toml
  crates/iota-core/Cargo.toml
  crates/iota-data-ingestion-core/Cargo.toml
  crates/iota-data-ingestion/Cargo.toml
  crates/iota-genesis-builder/Cargo.toml
  crates/iota-json-rpc-types/Cargo.toml
  crates/iota-json-rpc-types/src/iota_event.rs
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json-rpc/Cargo.toml
  crates/iota-json/Cargo.toml
  crates/iota-open-rpc/Cargo.toml
  crates/iota-proxy/Cargo.toml
  crates/iota-rpc-loadgen/Cargo.toml
  crates/iota-single-node-benchmark/Cargo.toml
  crates/iota-storage/Cargo.toml
  crates/iota-transactional-test-runner/Cargo.toml
  crates/iota-types/Cargo.toml
  crates/iota-types/src/base_types.rs
  crates/iota-types/src/crypto.rs
  crates/iota-types/src/gas_coin.rs
  crates/iota-types/src/lib.rs
  crates/iota-types/src/messages_checkpoint.rs
  crates/iota-types/src/stardust/coin_kind.rs
  crates/iota-types/src/transaction.rs
  crates/iota-types/src/zk_login_authenticator.rs
  crates/simulacrum/Cargo.toml
  crates/test-cluster/Cargo.toml
  crates/transaction-fuzzer/Cargo.toml
Labels: none

chore(CI): Gate long running e2e and graphql tests (#4962)
  .github/actions/diffs/action.yml
  .github/workflows/_e2e.yml
  .github/workflows/_rust.yml
  .github/workflows/_rust_tests.yml
  .github/workflows/hierarchy.yml
Labels: none

chore(iota-graphql-rpc,move-vm-profiler,iota-node): Allow `unexpected_cfgs` and rework some macros (#4831)
  crates/iota-graphql-rpc/src/data/pg.rs
  crates/iota-node/src/main.rs
  crates/iota/src/client_commands.rs
  external-crates/move/crates/move-vm-profiler/src/lib.rs
Labels: none

feat(node): Add `fatal!` and `debug_fatal!` macros (#4940)
  Cargo.lock
  crates/iota-common/Cargo.toml
  crates/iota-common/src/lib.rs
  crates/iota-common/src/logging.rs
  crates/iota-core/src/execution_cache/object_locks.rs
Labels: none

fix: make slipstream script compatible with current repo state (#4970)
  scripts/slipstream/config_slipstream.json
  scripts/slipstream/overwrites/narwhal/.clippy.toml
  scripts/slipstream/overwrites/v1.29.0/apps/wallet/turbo.json
  scripts/slipstream/overwrites/v1.29.0/turbo.json
  scripts/slipstream/overwrites/v1.32.2/dprint.json
  scripts/slipstream/overwrites/v1.32.2/pnpm-workspace.yaml
  scripts/slipstream/patches/clippy.patch
  scripts/slipstream/patches/copyright.patch
  scripts/slipstream/patches/gitignore.patch
  scripts/slipstream/patches/narwhal_clippy.patch
  scripts/slipstream/patches/pnpm-workspace.patch
  scripts/slipstream/patches/rustfmt.patch
  scripts/slipstream/patches/v1.30.0/iota-authority-aggregation-clone.patch
  scripts/slipstream/patches/v1.32.2/dprint.patch
  scripts/slipstream/patches_slipstream/fix_invalid_comments.patch
  scripts/slipstream/run_compare.sh
  scripts/slipstream/run_linters.sh
  scripts/slipstream/run_recompile_framework_packages.sh
  scripts/slipstream/run_slipstream.sh
  scripts/slipstream/slipstream.py
Labels: none

fix amnesia recovery boot run (#4768)
  consensus/core/src/commit_consumer.rs
  crates/iota-core/src/consensus_manager/mysticeti_manager.rs
  crates/iota-core/src/unit_tests/mysticeti_manager_tests.rs
Labels: none

fix(node): Fix logic for end-of-epoch checkpoint when dkg has failed (#4899)
  crates/iota-core/src/authority/authority_per_epoch_store.rs
Labels: none

Fix one more possible crash in execution_driver (#4900)
  crates/iota-core/src/execution_driver.rs
Labels: none

Remove ContinueWithTimeout in authority aggregation (#4898)
  crates/iota-authority-aggregation/src/lib.rs
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
Labels: none

fix(node): Fix retry logic in GCS and improve logging (#4897)
  crates/iota-config/src/object_storage_config.rs
  crates/iota-snapshot/src/reader.rs
  crates/iota-storage/src/object_store/http/gcs.rs
  crates/iota-storage/src/object_store/mod.rs
Labels: none

chore: bump rust toolchain to 1.84 (#4971)
  rust-toolchain.toml
  scripts/generate_files/Dockerfile
Labels: none

Fix cursor handling in get_all_coins indexer endpoint (#4890)
  crates/iota-indexer/src/indexer_reader.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
Labels: none

feat(bin-version): add `-debug` suffix to VERSION (#4979)
  crates/bin-version/src/lib.rs
Labels: none

Fix rare crash when a transaction executes after its shared object assignments have been deleted (#4757)
  crates/iota-core/src/authority.rs
  crates/iota-core/src/authority/authority_per_epoch_store.rs
  crates/iota-core/src/transaction_input_loader.rs
  crates/iota-core/src/transaction_manager.rs
  crates/iota-core/src/unit_tests/authority_tests.rs
  crates/iota-single-node-benchmark/src/mock_storage.rs
  crates/iota-transactional-test-runner/src/lib.rs
  crates/iota-types/src/storage/mod.rs
Labels: none

Terminate checkpoint builder before end of epoch (#4929)
  crates/iota-core/src/checkpoints/mod.rs
Labels: none

Reset metrics on epoch change to remove metrics of outdated committee members. (#4968)
  crates/iota-core/src/authority.rs
Labels: none

feat(config): Change config for admin interface from port to address (#4947)
  crates/iota-config/data/fullnode-template.yaml
  crates/iota-config/src/node.rs
  crates/iota-node/src/admin.rs
  crates/iota-node/src/main.rs
  crates/iota-swarm-config/src/node_config_builder.rs
  crates/iota-swarm-config/tests/snapshot_tests.rs
  crates/iota-swarm-config/tests/snapshots/snapshot_tests__network_config_snapshot_matches.snap
  crates/iota-tool/src/db_tool/mod.rs
  crates/iota/src/iota_commands.rs
  dev-tools/iota-network/genesis/overlays/common.yaml
  dev-tools/iota-network/genesis/static/fullnode.yaml
  dev-tools/iota-private-network/bootstrap.sh
  dev-tools/iota-private-network/configs/fullnodes/backup.yaml
  dev-tools/iota-private-network/configs/fullnodes/fullnode.yaml
  dev-tools/iota-private-network/configs/validator-common.yaml
  nre/config/validator.yaml
Labels: none

fix(config): Refactor and apply client options to S3 and Azure builder (#4977)
  crates/iota-config/src/object_storage_config.rs
  crates/iota-storage/src/object_store/http/s3.rs
Labels: none

Reject unsupported transaction filters in iotax_subscribeTransaction (#4975)
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json-rpc/src/indexer_api.rs
Labels: none

feat(workflows): add ubuntu arm target for releases (#4973)
  .github/workflows/release.yml
Labels: none

fix(wallet, wallet-dashboard): keep full precision in gas formatted amounts (#4827)
  apps/core/src/components/gas/GasSummary.tsx
  apps/core/src/components/inputs/SendTokenFormInput.tsx
  apps/core/src/hooks/useTransactionData.ts
  apps/wallet-dashboard/components/dialogs/migration/views/ConfirmMigrationView.tsx
  apps/wallet-dashboard/components/dialogs/send-token/views/ReviewValuesFormView.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeView.tsx
  apps/wallet/src/ui/app/hooks/useTransactionData.ts
  apps/wallet/src/ui/app/pages/home/transfer-coin/PreviewTransfer.tsx
Labels: wallet, wallet-dashboard

fix(wallet,wallet-dashboard): fix total stake/unstake amount in timelocks transaction summary (#4824)
  apps/core/src/components/transaction/TransactionReceipt.tsx
  apps/core/src/components/transaction/details/StakeTransactionDetails.tsx
  apps/core/src/components/transaction/info/UnstakeTransactionInfo.tsx
  apps/core/src/utils/stake/getStakeDetailsFromEvent.ts
  apps/core/src/utils/stake/getStakeDetailsFromEvents.ts
  apps/core/src/utils/stake/getTransactionAmountForTimelocked.ts
  apps/core/src/utils/stake/getUnstakeDetailsFromEvent.ts
  apps/core/src/utils/stake/getUnstakeDetailsFromEvents.ts
  apps/core/src/utils/stake/index.ts
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/components/transactions/TransactionTile.tsx
  apps/wallet/src/ui/app/components/transactions-card/index.tsx
Labels: wallet, wallet-dashboard

feat(iota-genesis-builder): Add native token circulating supply validation (#2126)
  crates/iota-genesis-builder/src/stardust/migration/tests/basic.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/alias.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/basic.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/foundry.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/mod.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/nft.rs
  crates/iota-genesis-builder/src/stardust/migration/verification/util.rs
Labels: none

[indexer]: Finalize mysql/tidb cleanup (#4997)
  crates/iota-indexer/migrations/mysql/2024-03-22-052019_events/down.sql
  crates/iota-indexer/migrations/mysql/2024-03-22-052019_events/up.sql
  crates/iota-indexer/migrations/mysql/2024-03-25-203621_objects/down.sql
  crates/iota-indexer/migrations/mysql/2024-03-25-203621_objects/up.sql
  crates/iota-indexer/migrations/mysql/2024-03-26-004025_transactions/down.sql
  crates/iota-indexer/migrations/mysql/2024-03-26-004025_transactions/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180008_checkpoints/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180008_checkpoints/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180207_epochs/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180207_epochs/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180249_packages/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180249_packages/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180418_tx_indices/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180418_tx_indices/up.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180727_display/down.sql
  crates/iota-indexer/migrations/mysql/2024-04-24-180727_display/up.sql
  crates/iota-indexer/migrations/mysql/2024-05-05-155158_obj_indices/down.sql
  crates/iota-indexer/migrations/mysql/2024-05-05-155158_obj_indices/up.sql
  crates/iota-indexer/src/store/mod.rs
  crates/iota-indexer/src/store/pg_indexer_store.rs
Labels: none

fix nightly simtests (#4963)
  crates/iota-e2e-tests/tests/snapshot_tests.rs
  crates/iota-e2e-tests/tests/snapshots/snapshot_tests__body_fn.snap
  scripts/simtest/simtest-run.sh
Labels: none

fix(iota): fix type resolution for primitive type instantiations (#4969)
  crates/iota-json-rpc-types/src/iota_transaction.rs
  crates/iota-json/src/lib.rs
  crates/iota-types/src/base_types.rs
  crates/iota/src/client_ptb/builder.rs
  crates/iota/tests/ptb_files/resolution/type_param_resolution.ptb
  crates/iota/tests/snapshots/ptb_files_tests__type_param_resolution.ptb.snap
Labels: none

task(devx): Add Tags - IOTA Wallet (#4989)
  docs/content/about-iota/iota-wallet/FAQ.mdx
  docs/content/about-iota/iota-wallet/getting-started.mdx
  docs/content/about-iota/iota-wallet/how-to/basics.mdx
  docs/content/about-iota/iota-wallet/how-to/get-test-tokens.mdx
  docs/content/about-iota/iota-wallet/how-to/integrate-ledger.mdx
  docs/content/about-iota/iota-wallet/how-to/multi-account.mdx
  docs/content/about-iota/iota-wallet/how-to/stake.mdx
  docs/content/developer/getting-started/get-address.mdx
  docs/content/tags.yml
Labels: documentation

feat(wallet): hint user about vesting in homepage (#4959)
  apps/wallet/src/shared/constants.ts
  apps/wallet/src/ui/app/pages/home/tokens/OverviewHint.tsx
  apps/wallet/src/ui/app/pages/home/tokens/ReceiveTokensDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/SupplyIncreaseVestingStakingDialog.tsx
  apps/wallet/src/ui/app/pages/home/tokens/TokensDetails.tsx
  apps/wallet/src/ui/assets/images/vested_staking_dialog.png
  apps/wallet/src/ui/assets/images/vested_staking_dialog_darkmode.png
Labels: wallet
