Repository Thoralf-M/iota, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, explorer, wallet, wallet-dashboard, ts-sdk, apps-ui-kit, apps-backend, tooling

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/content/**/*
explorer:
  - changed-files:
      - any-glob-to-any-file: apps/explorer/**/*
wallet:
  - changed-files:
      - any-glob-to-any-file: apps/wallet/**/*
wallet-dashboard:
  - changed-files:
      - any-glob-to-any-file: apps/wallet-dashboard/**/*
ts-sdk:
  - changed-files:
      - any-glob-to-any-file: sdk/**/*
apps-ui-kit:
  - changed-files:
      - any-glob-to-any-file: apps/ui-kit/**/*
apps-backend:
  - changed-files:
      - any-glob-to-any-file: apps/apps-backend/**/*
tooling:
  - changed-files:
      - any-glob-to-any-file: |
          sdk/**
          apps/**
          dapps/**
          linting/**
          .husky/**
          .changeset/**
          .eslintrc.js
          .lintstagedrc.json
          .npmrc
          .prettierignore
          graphql.config.ts
          package.json
          pnpm-workspace.yaml
          prettier.config.js
          turbo.json
          vercel.json

fix(iota): Remove `nushell` completion support (#4837)
  Cargo.lock
  crates/iota/Cargo.toml
  crates/iota/src/completions.rs
Labels: none

chore(wallet): fix typo (#4832)
  apps/wallet/src/ui/app/pages/accounts/AddAccountPage.tsx
Labels: wallet

fix(docs): re-enable move syntax highlighting (#4814)
  docs/site/docusaurus.config.js
  docs/site/src/theme/prism-include-languages.js
Labels: none

feat(wallet-dashboard): add React Query Devtools and invalidate migration transaction queries (#4782)
  apps/wallet-dashboard/app/(protected)/migrations/page.tsx
  apps/wallet-dashboard/app/(protected)/vesting/page.tsx
  apps/wallet-dashboard/package.json
  apps/wallet-dashboard/providers/AppProviders.tsx
  pnpm-lock.yaml
Labels: wallet-dashboard

feat(wallet-dashboard): improve tx history and details (#4794)
  apps/core/src/components/transaction/TransactionIcon.tsx
  apps/core/src/constants/timelock.constants.ts
  apps/core/src/interfaces/transactions.interfaces.ts
  apps/core/src/utils/transaction/getTransactionAction.ts
  apps/core/src/utils/transaction/index.ts
  apps/core/src/utils/transaction/isMigrationTransaction.ts
  apps/core/src/utils/transaction/isUnlockTimelockedObjectTransaction.ts
  apps/ui-icons/README.md
  apps/wallet-dashboard/lib/constants/routes.constants.ts
  apps/wallet-dashboard/lib/interfaces/index.ts
  apps/wallet-dashboard/lib/interfaces/transactions.interfaces.ts
Labels: wallet-dashboard

fix(devx) Add tags to pages on developer section of docs (#4790)
  Cargo.lock
  docs/content/developer/advanced/asset-tokenization.mdx
  docs/content/developer/advanced/introducing-move-2024.mdx
  docs/content/developer/advanced/onchain-randomness.mdx
  docs/content/developer/cryptography/transaction-auth/keys-addresses.mdx
  docs/content/developer/evm-to-move/creating-nft.mdx
  docs/content/developer/evm-to-move/creating-token.mdx
  docs/content/developer/evm-to-move/tooling-apis.mdx
  docs/content/developer/iota-101/create-coin/create-coin.mdx
  docs/content/developer/iota-101/create-coin/in-game-token.mdx
  docs/content/developer/iota-101/create-coin/loyalty.mdx
  docs/content/developer/iota-101/create-coin/migrate-to-coin-manager.mdx
  docs/content/developer/iota-101/create-coin/regulated.mdx
  docs/content/developer/iota-101/nft/create-nft.mdx
  docs/content/developer/iota-101/nft/marketplace.mdx
  docs/content/developer/iota-101/nft/rent-nft.mdx
  docs/content/developer/iota-101/transactions/ptb/building-programmable-transaction-blocks-ts-sdk.mdx
  docs/content/developer/iota-101/transactions/ptb/coin-management.mdx
  docs/content/developer/iota-101/transactions/ptb/optimizing-gas-with-coin-merging.mdx
  docs/content/developer/iota-101/transactions/ptb/programmable-transaction-blocks-overview.mdx
  docs/content/developer/iota-101/transactions/ptb/programmable-transaction-blocks.mdx
  docs/content/developer/iota-101/transactions/ptb/simulating-references.mdx
  docs/content/developer/iota-101/transactions/sign-and-send-transactions.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/about-sponsored-transactions.mdx
  docs/content/developer/iota-101/transactions/sponsored-transactions/use-sponsored-transactions.mdx
  docs/content/developer/iota-101/transactions/transactions.mdx
  docs/content/tags.yml
Labels: documentation

fix(docs): add notes about indexer in rpc specs (#4584)
  crates/iota-json-rpc-api/src/extended.rs
  crates/iota-json-rpc/src/lib.rs
  crates/iota-open-rpc/spec/openrpc.json
Labels: none

fix(CI): Fix Rosetta CI cross-contamination (#4799)
  .github/scripts/rosetta/setup.sh
  .github/workflows/hierarchy.yml
Labels: none

Update fix testnet URL (#4884)
  docs/content/developer/getting-started/connect.mdx
Labels: documentation

chore(cli)!: keytool improvements (#4877)
  crates/iota/src/keytool.rs
Labels: none

remove(docker): remove unused images (#4803)
  crates/iota-rosetta/README.md
  docker/deterministic-canary/Dockerfile
  docker/deterministic-canary/build.sh
  docker/iota-indexer-tidb/Dockerfile
  docker/iota-indexer-tidb/build.sh
  docker/iota-node-deterministic/Dockerfile
  docker/iota-node-deterministic/README.md
  docker/iota-node-deterministic/build.sh
  docker/iota-node-deterministic/images/image-1.png
  docker/iota-node-deterministic/images/image-2.png
  docker/iota-node-deterministic/images/image.png
  docker/iota-rosetta-devnet/Dockerfile
  docker/iota-rosetta-devnet/build.sh
  docker/iota-rosetta-devnet/docker-compose.yaml
  docker/iota-rosetta-devnet/remote/docker-compose.yaml
Labels: none

fix(iota-core): handle cost overflowing in shared object congestion tracker (#4739)
  crates/iota-core/src/authority/shared_object_congestion_tracker.rs
Labels: none

fix(apps-ui-kit): release process not building (#4876)
  .changeset/pretty-hounds-give.md
  apps/ui-icons/package.json
  apps/ui-kit/package.json
  apps/ui-kit/turbo.json
  pnpm-lock.yaml
Labels: apps-ui-kit

Add tags to SDKs and CLI Section on Dev Portal (#4881)
  docs/content/references/cli/ceremony.mdx
  docs/content/references/cli/cheatsheet.mdx
  docs/content/references/cli/client.mdx
  docs/content/references/cli/console.mdx
  docs/content/references/cli/keytool.mdx
  docs/content/references/cli/move.mdx
  docs/content/references/cli/ptb.mdx
  docs/content/references/cli/validator.mdx
  docs/content/references/rust-sdk.mdx
  docs/content/tags.yml
  docs/content/ts-sdk/typescript/cryptography/keypairs.mdx
  docs/content/ts-sdk/typescript/cryptography/multisig.mdx
  docs/content/ts-sdk/typescript/faucet.mdx
  docs/content/ts-sdk/typescript/graphql.mdx
  docs/content/ts-sdk/typescript/hello-iota.mdx
  docs/content/ts-sdk/typescript/index.mdx
  docs/content/ts-sdk/typescript/install.mdx
  docs/content/ts-sdk/typescript/transaction-building/basics.mdx
  docs/content/ts-sdk/typescript/transaction-building/gas.mdx
  docs/content/ts-sdk/typescript/transaction-building/offline.mdx
  docs/content/ts-sdk/typescript/transaction-building/sponsored-transactions.mdx
Labels: documentation

feat(iota-genesis-builder): Add an AddressSwapSplit map for Hornet snapshot outputs (#4792)
  crates/iota-e2e-tests/tests/full_node_migration_tests.rs
  crates/iota-e2e-tests/tests/migration/swap_split.csv
  crates/iota-genesis-builder/src/main.rs
  crates/iota-genesis-builder/src/stake.rs
  crates/iota-genesis-builder/src/stardust/migration/migration.rs
  crates/iota-genesis-builder/src/stardust/migration/tests/basic.rs
  crates/iota-genesis-builder/src/stardust/migration/tests/mod.rs
  crates/iota-genesis-builder/src/stardust/process_outputs.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/alias_ownership.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/delegator_outputs.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/stardust_mix.rs
  crates/iota-genesis-builder/src/stardust/test_outputs/vesting_schedule_portfolio_mix.rs
  crates/iota-genesis-builder/src/stardust/types/address_swap_split_map.rs
  crates/iota-genesis-builder/src/stardust/types/mod.rs
  crates/iota-genesis-builder/src/stardust/types/output_header.rs
Labels: none

feat(iota-sdk): Use default request type (#4906)
  crates/iota-sdk/src/apis/quorum_driver.rs
Labels: none

chore(CI): Add check for nightly workflow and reroute slack message (#4888)
  .github/workflows/develop_ci_slack_report.yml
Labels: none

feat(wallet-dashboard): show kiosk NFTs (#4610)
  apps/core/src/components/index.ts
  apps/core/src/components/kiosk/KioskTile.tsx
  apps/core/src/components/kiosk/index.ts
  apps/core/src/components/nft/NftImage.tsx
  apps/core/src/components/nft/index.ts
  apps/wallet-dashboard/components/dialogs/assets/AssetDialog.tsx
  apps/wallet-dashboard/components/dialogs/assets/constants/assetsDialogView.ts
  apps/wallet-dashboard/components/dialogs/assets/views/DetailsView.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/KioskDetailsView.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/SendView.tsx
  apps/wallet-dashboard/components/dialogs/assets/views/index.ts
  apps/wallet-dashboard/components/tiles/AssetTileLink.tsx
  apps/wallet/src/ui/app/components/index.ts
  apps/wallet/src/ui/app/components/nft-display/index.tsx
Labels: wallet, wallet-dashboard

fix(tooling-vercel): update script to not `cd` into another folder (#4883)
  scripts/tooling/vercel/ignore-build-step-previews.sh
Labels: none

fix(apps-ui-kit): improve `prepublishOnly` script by adding turbo (#4934)
  apps/ui-kit/package.json
Labels: apps-ui-kit

refactor(apps-core, wallet-dashboard, wallet): move ValidatorLogo to apps/core and use it in Unstake Details (#4475)
  apps/core/src/components/Validator.tsx
  apps/core/src/components/index.ts
  apps/core/src/components/transaction/TransactionReceipt.tsx
  apps/core/src/components/transaction/details/StakeTransactionDetails.tsx
  apps/core/src/components/transaction/info/UnstakeTransactionInfo.tsx
  apps/core/src/interfaces/index.ts
  apps/core/src/interfaces/validatorLogo.interfaces.ts
  apps/core/src/types/renderComponent.ts
  apps/wallet-dashboard/components/dialogs/TransactionDialog.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/EnterAmountDialogLayout.tsx
  apps/wallet-dashboard/components/dialogs/staking/views/SelectValidatorView.tsx
  apps/wallet-dashboard/components/dialogs/transaction/TransactionDetailsLayout.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeTimelockedObjectsView.tsx
  apps/wallet-dashboard/components/dialogs/unstake/views/UnstakeView.tsx
  apps/wallet/src/ui/app/components/receipt-card/index.tsx
  apps/wallet/src/ui/app/staking/delegation-detail/DelegationDetailCard.tsx
  apps/wallet/src/ui/app/staking/stake/StakingCard.tsx
  apps/wallet/src/ui/app/staking/validators/SelectValidatorCard.tsx
  apps/wallet/src/ui/app/staking/validators/ValidatorLogo.tsx
Labels: wallet, wallet-dashboard

feat(examples): add transfer to shared object example (#4728)
  examples/move/transfer-to-shared-object/Move.toml
  examples/move/transfer-to-shared-object/sources/shared_coins.move
Labels: none

feat(iota): add data_ingestion_dir to iota start command (#4893)
  crates/iota/src/iota_commands.rs
  crates/iota/tests/cli_tests.rs
Labels: none

fix(wallet): empty info box on shorter mnemonic (#4781)
  apps/wallet/src/ui/app/components/accounts/ImportRecoveryPhraseForm.tsx
Labels: wallet

feat: add archive info for formal snapshots (#4901)
  crates/iota-tool/src/commands.rs
Labels: none

Fix get_all_balances returning zero objects count in fullnode (#4828)
  crates/iota-indexer/tests/common/mod.rs
  crates/iota-indexer/tests/rpc-tests/coin_api.rs
  crates/iota-indexer/tests/rpc-tests/transaction_builder.rs
  crates/iota-json-rpc-tests/tests/coin_api.rs
  crates/iota-storage/src/indexes.rs
Labels: none

feat(ts-sdk:dapp-kit): Improve `connect-modal` style (#4771)
  .changeset/mighty-pans-suffer.md
  sdk/dapp-kit/src/components/connect-modal/views/ConnectionStatus.tsx
  sdk/dapp-kit/src/components/connect-modal/views/GettingStarted.css.ts
  sdk/dapp-kit/src/components/connect-modal/views/GettingStarted.tsx
  sdk/dapp-kit/src/components/connect-modal/wallet-list/WalletList.css.ts
  sdk/dapp-kit/src/components/connect-modal/wallet-list/WalletList.tsx
  sdk/dapp-kit/src/themes/darkTheme.ts
Labels: ts-sdk

feat(dashboard): Refresh transactions history after send (#4777)
  apps/wallet-dashboard/components/dialogs/send-token/SendTokenDialog.tsx
Labels: wallet-dashboard

refactor(tooling): Update usage of Sentry deprecated methods (#4786)
  apps/core/src/api/SentryHttpTransport.ts
  apps/explorer/src/lib/utils/sentry.ts
  apps/wallet/src/ui/app/helpers/sentry.ts
  apps/wallet/src/ui/app/pages/home/transfer-coin/index.tsx
  apps/wallet/src/ui/app/staking/stake/StakingCard.tsx
Labels: explorer, wallet

feat(explorer): Render `vector<u8>` value types in tx inputs (#4879)
  apps/explorer/src/pages/transaction-result/programmable-transaction-view/InputsCard.tsx
Labels: explorer

Update discord URLs, removed invalid snippet (#4817)
  docs/content/_snippets/publish-to-devnet-with-coins.mdx
  docs/content/about-iota/FAQ.mdx
  docs/content/developer/advanced/introducing-move-2024.mdx
  docs/content/iota-identity/contribute.mdx
  docs/content/references/contribute/contribute-to-iota-repos.mdx
  docs/site/docusaurus.config.js
Labels: documentation

Removed custom-indexer URLs and added admonition (#4815)
  docs/content/developer/advanced/custom-indexer.mdx
Labels: documentation

chore: fine-grained ownership of crates (#4931)
  .github/CODEOWNERS
Labels: none

chore(ci): stale PRs/issues label values (#4501)
  .github/workflows/stale.yml
Labels: none

fix(CI): Fix ternary operator in slack CI (#4953)
  .github/workflows/develop_ci_slack_report.yml
Labels: none

feat: Add docker configuration for checkpoints remote store (#4946)
  docker/iota-data-ingestion/Dockerfile
  docker/iota-data-ingestion/README.md
  docker/iota-data-ingestion/build.sh
  docker/iota-data-ingestion/config/config.yaml
  docker/iota-data-ingestion/docker-compose.yaml
Labels: none

fix(docs): Local Development (devx/docs-feedback-github.com/iotaledger/devx/issues/517) (#4721)
  docs/content/developer/getting-started/local-network.mdx
Labels: documentation

fix(iota): fix PTB upgrade command (#4960)
  crates/iota/src/client_ptb/builder.rs
Labels: none

Use same pattern for force_new_epoch in query_validator_epoch_info_event as in other tests (#4874)
  crates/iota-indexer/tests/rpc-tests/indexer_api.rs
Labels: none

fix: Add EpochEnded error to be retryable (#4765)
  crates/iota-core/src/unit_tests/authority_aggregator_tests.rs
  crates/iota-types/src/error.rs
Labels: none
